#game_canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
    animation: game 20s linear infinite;
    background-image: url("images/view.jpg");
    border: 2px solid black;
}

@keyframes game {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2122px 0;
    }
}

p {
    position: absolute;
    right: 500px;
    top: 110px;
    -webkit-text-stroke: 0.45px black;
    text-shadow: -1.2px 1.8px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#sound_option {
    position: absolute;
    right: 480px;
    bottom: 160px;
}

#logo {
    position: absolute;
    top: 2%;
    left: 40%;
}

mark {
    background-color: white;
}

#instructions {
    position: absolute;
    top: 180px;
    left: 20px;
}