#game_canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
    animation: game 20s linear infinite;
    background-image: url("images/view.png");
    border: 2px solid black;
}

@keyframes game {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -2122px 0;
    }
}

#logo {
    position: absolute;
    top: 2%;
    left: 40%;
}

p {
    -webkit-text-stroke: 0.45px black;
    text-shadow: -1.2px 1.8px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.center {
    position: relative;
    text-align: center;
}

body {
    background-image: url('images/wp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    position: relative;
}

#scores {
    position: absolute;
    top: 20%;
    left: 57%;
}