#game_canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-image: url("images/view.png");
    border: 2px solid black;
}

#logo {
    position: absolute;
    top: 2%;
    left: 40%;
}

mark {
    background-color: white;
}

#instructions {
    position: absolute;
    top: 200px;
    left: 20px;
    font-size: 20px;
}

body {
    background-image: url('images/wp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#StartGame {
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 40px;
}